.notInfo {
  font-size: 20px;
  color: rgb(255, 2, 2);
}

.item {
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.author {
  font-size: 18px;
  margin-bottom: 5px;
}
.content {
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.5;
}
