.wrap {
  display: flex;
  color: #282828;
}

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  border: 1px solid black;
  height: 20px;
  margin: 20px;
  padding: 5px;
  color: #000;
}

.link:hover {
  color: aliceblue;
  background-color: gray;
}
.img {
  margin-right: 20px;
}
.info {
  padding-top: 15px;
}
.title {
  margin-bottom: 25px;
  text-transform: uppercase;
}
.year {
  margin-left: 5px;
}
.subtitle {
  margin: 10px;
}
a {
  text-decoration: none;
}
